apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: rustmq-base
  annotations:
    config.kubernetes.io/description: "RustMQ base Kubernetes manifests"

namespace: rustmq

resources:
- namespace.yaml
- serviceaccount.yaml
- configmap.yaml
- rbac.yaml
- networkpolicy.yaml
- priorityclass.yaml
# Controller resources
- controller/statefulset.yaml
- controller/service.yaml
- controller/pdb.yaml
# Broker resources
- broker/deployment.yaml
- broker/service.yaml
- broker/hpa.yaml
- broker/pdb.yaml
# Admin Server resources
- admin-server/deployment.yaml
- admin-server/service.yaml
- admin-server/pdb.yaml
# WebUI resources
- webui/deployment.yaml
- webui/service.yaml
- webui/configmap.yaml
- webui/ingress.yaml
- webui/pdb.yaml
# Monitoring resources
- monitoring/servicemonitor.yaml
- monitoring/prometheusrule.yaml

commonLabels:
  app.kubernetes.io/name: rustmq
  app.kubernetes.io/managed-by: kustomize

images:
- name: us-docker.pkg.dev/PROJECT_ID/rustmq/rustmq-controller
  newTag: latest
- name: us-docker.pkg.dev/PROJECT_ID/rustmq/rustmq-broker
  newTag: latest
- name: us-docker.pkg.dev/PROJECT_ID/rustmq/rustmq-admin-server
  newTag: latest
- name: us-docker.pkg.dev/PROJECT_ID/rustmq/rustmq-webui
  newTag: latest
